body {
  font-family: 'Roboto', sans-serif;
}

#stories{
  overflow: hidden;
  padding: 0 18px;
  display: flex;
  position: relative;
}

.story{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 14px;
}

.story-headshot{
  width: 66px;
  height: 66px;
  background-image: url("../assets/images/stories_background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-headshot img{
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.story p{
  margin-top: 1px;
  font-size: 12px;
  line-height: 14px;
}

.stories-chevron {
  position: absolute;
  right: 20px;
  top: 30px;
  font-size: 18px;
  color: white;
}


.post header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 17px;
  height: 60px;
}

.poster{
  display: flex;
  align-items: center;
}

.poster-headshot{
  width:32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 15px;
}

.post-img{
  width: 100%;
  height: 100vw;
  object-fit: cover;
}

.post-interactive-icons {
  font-size: 18px;
  margin: 0 17px;
  display: flex;
  justify-content: space-between;
}

.post-likes {
  display: flex;
  align-items: center;
  margin: 0 17px;
}

.post-likes img {
  width: 16px;
  height: 16px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5px;
}

.post-likes p {
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
}

.post-new-comment{
  margin: 0 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-new-comment ion-icon{
  font-size: 18px;
  flex-shrink: 0;
}

.hl{
  height: 1px;
  width: 100%;
  background-color: red;
}

.post-new-comment textarea {
  margin: 0 16px;
  height: 18px;
  flex-grow: 1;
  border: unset;
  resize: none;
}