#navbar input,
#navbar [name="compass-outline"],
#navbar [name="heart-outline"],
#navbar [name="person-outline"],
.stories-chevron,
.post-new-comment  {
  display: none; 
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

#navbar {
  display: flex;
  font-size: 21px;
  padding: 0 21px;
  height: 54px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  background-color: white;
}

#nav-left,
#nav-right {
  width: 30px;
}

#nav-right{
  text-align: end;
}


#stories{
  overflow: hidden;
  padding: 15px;
  display: flex;
  position: relative;
  background-color: #fafafa;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 14px;
}

.story-headshot {
  width: 66px;
  height: 66px;
  background-image: url("../assets/images/stories_background.jpg");
  mix-blend-mode: multiply;
  filter: brightness(1.2);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-headshot img{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.story p{
  margin-top: 1px;
  font-size: 12px;
  line-height: 14px;
  color: #262626;
}

.post {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  background-color: white;
  margin-bottom: 60px;
}

.post header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 17px;
  height: 60px;
}

.poster{
  display: flex;
  align-items: center;
}

.poster-headshot{
  width:32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 15px;
}

.post-img{
  width: 100%;
  height: 100vw;
  object-fit: cover;
}

.post-interactive-icons {
  font-size: 18px;
  margin: 0 17px;
  display: flex;
  justify-content: space-between;
}

.post-likes {
  display: flex;
  align-items: center;
  margin: 0 17px;
}

.post-likes img {
  width: 16px;
  height: 16px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5px;
}

.post-likes p {
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
}

@media (min-width: 614px){
  #navbar input{
    display: initial;
    text-align: center;
  }

  #main-content{
    max-width: 614px;
    margin-left: auto;
    margin-right: auto;
  }

  #stories {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-top: 34px;
    margin-bottom: 24px;
    background-color: white;
  }

  .stories-chevron {
    display: initial;
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 18px;
    color: white;
  }

  .post{
    border: 1px solid #dbdbdb;
    border-radius: 3px;
  }

  .post-new-comment{
    border-top: 1px solid black;
    height: 56px;
    padding: 0 17px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .post-new-comment input {
    margin: 0 16px;
    height: 18px;
    flex-grow: 1;
    width: auto;
    border: none;
    outline: none;
  }

  .post-new-comment ion-icon{
    font-size: 18px;
    flex-shrink: 0;
  }

}